<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='' />
  </head>
  <body>

    <div id='login'>
    <form class="" form action="/login" method="POST">
      <div >
        <% if (errors.length > 0 ) { %>
          <%= errors %> 
           <% } %>
      </div>
      <br>

        <input class="" type="text" id="username" name="username">
        
  
      <div class="" data-validate="Enter password">
        <input class="" type="password" id="password" name="password">
      </div>

      <div class="">
          <button class="" type="submit">
            Login
          </button>
      </div>
    </form>
    </div>



    <div id='register'>

      <form class="" form action="/register" method="POST">
        <span class="">
          Register
        </span>
                  <div>
                      <% if (errors.length > 0 ) { %>
                          <%= errors %> 
                         <% } %>
                  </div>

         <div class="">
          <h2>name</h2>
          <input class="" type="text" id="name" name="name"/>
        </div>
        <div class="">
          <h2>username</h2>
          <input class="" type="text" id="username" name="username"/>
        </div>

        
        <div >
          <h2>email</h2>
          <input class="" type="text" id="email" name="email">
        </div>

        <div class="">
          <h2>password</h2>
          <input class="" type="password" id="password" name="password">
        </div>
        <div class="">
          <h2>secret</h2>
          <input class="" type="text" id="secret" name="secret">
        </div>
     
          <div class="">
            <button class="" type="submit">
              Register
            </button>
          </div>
    
      </form>








    </div>






  </body>
</html>
